.animal {
    display: flexbox ;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .animal * {
    margin: 5% auto;
  }
  
  .animal-name {
    font-size: 150%;
    font-weight: 900;
  }
  
  .animal-description {
    font-size: 150%;
  }
  
  .animal-image {
    width: 75%;
    border-radius: 40px;
  }
  